body {
  background-color: #170819;
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 20px 28px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 20px);
}
nav img {
  width: 100%;
  max-width: 350px;
  margin-bottom: 1.2rem;
}
nav > p {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.subtitle {
  font-size: 1.4rem;
  font-weight: 300;
  max-width: 800px;
  margin-bottom: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
h2 {
  margin: 0 0 2rem;
  font-weight: 300;
  font-size: 1.9rem;
}
section::before {
  counter-increment: section;
}
section {
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  margin: 0 -28px;
  padding: 28px 28px;
  position: relative;
}
section:nth-child(1) {
  z-index: 10;
}
section:nth-child(2) {
  z-index: 9;
}
section:nth-child(3) {
  z-index: 8;
}
section:nth-child(4) {
  z-index: 7;
}
section:nth-child(5) {
  z-index: 6;
}
section:nth-child(6) {
  z-index: 5;
}
section:nth-child(7) {
  z-index: 4;
}
section:nth-child(8) {
  z-index: 3;
}
section:nth-child(9) {
  z-index: 2;
}
section:nth-child(10) {
  z-index: 1;
}
section:last-child {
  box-shadow: none;
}
section > div {
  max-width: 1200px;
}
.gradient {
  background: radial-gradient(farthest-corner at 10% top, #872F95 0, #A54848 100%);
}
.light {
  background-color: #362a39;
}
ol {
  list-style: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
  max-width: 800px;
}
ol > li {
  counter-increment: item;
  margin-bottom: 1.8rem;
  display: grid;
  grid-template-areas:
    "num heading"
    "num description";
  grid-template-columns: min-content auto;
  align-items: center;
}
ol > li:last-child {
  margin-bottom: 0.5rem;
}
ol > li::before {
  content: counter(item);
  margin-right: 0.8rem;
  background-color: white;
  border-radius: 50%;
  color: #170819;
  width: 1.8rem;
  text-align: center;
  display: inline-flex;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  vertical-align: middle;
  grid-area: num;
}
ol > li > h3 {
  grid-area: heading;
  margin: 0;
}
ol > li > p {
  grid-area: description;
  opacity: 0.8;
}
ol > li > h3 + p {
  margin: 0.3rem 0 0;
}
footer {
  font-size: 0.8rem;
  padding: 1.5rem 28px;
  margin: 0 -28px;
}
footer > span {
  display: inline-block;
  margin-right: 1rem;
}
.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cols > div {
  max-width: calc(33% - 20px);
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .cols > div {
    max-width: unset;
    width: calc(100% - 20px);
  }
}
.tight {
  margin-bottom: 1rem;
}
h3 {
  margin-bottom: 0;
}
hr {
  margin: 2rem 0;
}
.center {
  text-align: center;
}
a, a:visited, a:active {
  color: #fff;
}
a:hover {
  color: #ccc;
}
